<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @notice.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @notice.body %>
</p>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
