<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @student.firstName %>
</p>

<p>
  <b>Last Name:</b>
  <%= @student.lastName %>
</p>

<p>
  <b>Grade Level:</b>
  <%= @student.grade %>
</p>
<p>
  <% detentions = Detention.where(:student_id => @student.id) %>
  <b>Detentions: </b><%= @student.detention_count %>
  <% if @student.detention_count > 0 then %>
    <ul>
    <% @student.detentions.each do |detention| %>
      <li><%= detention.teacher %><br /><%= detention.reason %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
